.button {
  height: 4rem;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  border-bottom: 2px solid rgb(113, 199, 188, 0.5);
  color: rgb(113, 199, 188);
}

.pathButton {
  text-decoration: none;
  height: 4rem;
  font-size: 1.1rem;
  color: #4dccbd;
  font-weight: 700;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #4dccbd;
}
