.LearnPage {
  font-family: "Pretendard Variable";
  color: #d6fff6;
  background-color: #0f172a;
  margin-top: 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap_roadmap {
  padding-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 49rem;
  height: 7rem;
  border-radius: 20px;
  background-color: rgb(30, 41, 59);
  border: 1px solid rgb(53, 63, 79);
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 130%;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.wrap_roadmap:hover {
  background-color: rgb(44, 59, 83);
}

.h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.roadmap_item {
  position: relative;
  width: 47rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.step {
  width: 4rem;
  height: 4rem;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4dccbd;
  border: #4dccbd;
  line-height: 100%;
  border-radius: 13px;
  font-weight: 600;
}

.step span {
  font-size: 1rem;
}

.container {
  padding-left: 2rem;
}

.title {
  font-size: 1.5rem;
}

.p {
  font-size: 1rem;
  font-weight: 300;
}

.roadmap_item img {
  position: absolute;
  left: 97%;
}
